<div class="fos_user_user_show">
    <h1>Hello {{ user.username }}!</h1>

    <p>Your {{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>

    <a href="{{ path('fos_user_profile_edit') }}" data-role="button">Edit</a>
</div>