{% extends "MoodMapMapBundle:MoodWord:backend_base.html.twig" %}
{% block body %}
<div class="page-header">
    <h1>MoodWord edit</h1>
</div>

{% include "MoodMapMapBundle:MoodWord:form.html.twig" %}

<ul class="well unstyled buttonlist">
    <li>
        <a class="btn" href="{{ path('admin_moodword') }}">
            Back to the list
        </a>
    </li>
    <li>
        <button class="btn btn-primary" id="edit">Edit</button>
    </li>
    <li>
        <form action="{{ path('admin_moodword_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button>
        </form>
    </li>
</ul>
<div id="entitydata" data-entityid="{{ entity.id }}" style="display: none"></div>
{% endblock %}