{% extends "MoodMapMapBundle:MoodWord:backend_base.html.twig" %}
{% block body %}

<h1>MoodWord creation</h1>

{% include "MoodMapMapBundle:MoodWord:form.html.twig" %}

<ul class="unstyled buttonlist">
    <li>
        <a class="btn" href="{{ path('admin_moodword') }}">
            Back to the list
        </a>
    </li>
    <li>
        <button class="btn btn-primary" id="create">Create</button>
    </li>
</ul>

{% endblock %}