{% extends "::backend.html.twig" %}
{% block body %}

<div class="page-header">
    <h1>MoodWord creation</h1>
</div>

{% include "MoodMapMapBundle:MoodWord:form.html.twig" %}

<ul class="well unstyled buttonlist">
    <li>
        <a class="btn" href="{{ path('admin_moodword') }}">
            Back to the list
        </a>
    </li>
    <li>
        <button class="btn btn-primary" id="create">Create</button>
    </li>
    <div></div>
</ul>

{% endblock %}