{% extends '::base.html.twig' %}

{% block body %}
<div id="grid">
    <form action="deinemudda" method="POST" id="searchForm">
        <div id="searchFieldWrapper">
            <input type="text" id="searchFieldInput">
        </div>
    </form>
</div>
{% endblock %}