{% extends '::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('css/map.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="searchFieldWrapper">
    <input type="text" id="searchFieldInput">
</div>
{% endblock %}