{% extends '::base.html.twig' %}

{% block body %}
<div id="grid">
    <form action="#" method="POST" id="searchForm">
        <div id="searchFieldWrapper">
            <input type="text" id="searchFieldInput">
        </div>
    </form>
</div>
<div style="height: 330px"></div>
{% endblock %}