{% form_theme form theme %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
      class="form-horizontal">
    {{ form_widget(form) }}
    <input id="submit" type="submit" value="Register" data-role="button"/>
</form>