<div id="map-colors">
    <ul class="selectable">
        <li>
            <div id="preview0" class="ui-selected"></div>
        </li>
        <li>
            <div id="preview1"></div>
        </li>
        <li>
            <div id="preview2"></div>
        </li>
        <li>
            <div id="preview3"></div>
        </li>
        <li>
            <div id="preview4"></div>
        </li>
        <li>
            <div id="preview5"></div>
        </li>
    </ul>

    <div id="red"></div>
    <div id="green"></div>
    <div id="blue"></div>
</div>
