<div id="modal-wrapper" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3 id="modal-headline"></h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >Close</a>
        <a href="javascript:document.modalform.submit()" class="btn btn-primary" id="modal-submit"></a>
    </div>
</div>