<div data-id="navigation" data-role="footer">
    <div data-role="navbar">
        <ul>
            <li><a href="{{ path('_welcome') }}" data-ajax="false" data-icon="grid" data-iconpos="top">Map</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}" data-ajax="false" data-icon="gear" data-iconpos="top">Profile</a></li>
        </ul>
    </div>
</div><!-- /navbar -->