/*
 * MapColorSquares
 */

#map-colors .selectable {
    list-style: none;
    margin: 0;
}

#map-colors .selectable li .ui-selectee {
    width: 57px;
    height: 57px;
    margin: 3px;
}

.map-colors-hover, #map-colors .selectable li .ui-selected {
    border: 1px solid;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

#preview0 {
    background-color: #990033;
}

#preview1 {
    background-color: #FF0033;
}

#preview2 {
    background-color: #FF6600;
}

#preview3 {
    background-color: #FFCC33;
}

#preview4 {
    background-color: #99CC33;
}

#preview5 {
    background-color: #0066FF;
}

/*
 * MapColorPicker
 */

#red, #green, #blue {
    width: auto;
    margin-bottom: 10px;
}

#red .ui-slider-range {
    background: #ef2929;
}

#green .ui-slider-range {
    background: #8ae234;
}

#blue .ui-slider-range {
    background: #729fcf;
}
